name: Android Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.5.3'
          target: 'android'
          arch: 'android_arm64_v8a'
          modules: 'qtcharts qtconnectivity' # اگر از ماژول خاصی استفاده می‌کنی اینجا اضافه کن

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build APK
        run: |
          mkdir build
          cd build
          cmake .. \
            -DCMAKE_PREFIX_PATH=$QT_ROOT_DIR \
            -DQT_ANDROID_BUILD_ALL_ABIS=OFF \
            -DANDROID_ABI=arm64-v8a \
            -DQT_HOST_PATH=$QT_ROOT_DIR/gcc_64 \
            -DANDROID_SDK_ROOT=$ANDROID_SDK_ROOT \
            -DANDROID_NDK_ROOT=$ANDROID_NDK_ROOT
          cmake --build . --target all

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Mana-Android-APK
          path: build/**/*.apk
