name: Android Build
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Qt
        uses: jurplel/install-qt-action@v3
        with:
          version: '6.5.3' # نسخه‌ای که با کدت سازگاره
          target: 'android'
          arch: 'android_arm64_v8a'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v2

      - name: Build with CMake
        run: |
          mkdir build
          cd build
          cmake .. -DCMAKE_PREFIX_PATH=$QT_ROOT_DIR -DQT_ANDROID_BUILD_ALL_ABIS=ON
          make
